<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Education</title>
    <!-- Google Font -->
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap"
      rel="stylesheet"
    />
    <!-- Stylesheet -->
    <link rel="stylesheet" href="education.component.css" />
  </head>
  <body>
    <div class="card">
      <img
        src="https://stackblitz.com/files/angular-directives-2135-jtbiid/github/Intuyy/CV-Angular/main/pictures/dev.JPG"
      />
      <h5>Front End Developer</h5>
      <h4>Noie Manoy</h4>
    </div>
    <div class="deets">
      <h1>Educational Attainment</h1>
      <ul>
        <li style="--accent-color:#857d7d">
          <div class="date">Tertiary Level</div>
          <div class="descr">
            <br />
            <li>Holy Angel University</li>
            <li>2020 - Present</li>
            <li>Bachelor of Science in Information Technology</li>
          </div>
        </li>
        <li style="--accent-color:#a0a7b3">
          <div class="date">Secondary Level | Senior Year</div>
          <div class="descr">
            <br />
            <li>Systems Plus College Foundation</li>
            <li>2018 - 2020</li>
            <li>Information anc Communication Technology</li>
          </div>
        </li>
        <li style="--accent-color:#545151">
          <div class="date">Secondary Level | Junior Year</div>
          <div class="descr">
            <br />
            <li>Magalang Christian Ecumenical School Inc.,</li>
            <li>2014 - 2018</li>
            <li>Completer</li>
          </div>
        </li>
        <li style="--accent-color:#8d95ac">
          <div class="date">Primary Level</div>
          <div class="descr">
            <br />
            <li>Telapayong, Elementary School</li>
            <li>2008 - 2014</li>
            <li>Completer</li>
          </div>
        </li>
      </ul>
    </div>
  </body>
</html>
