<h1>ERROR: PAGE NOT FOUND</h1>
<h1>UNDER DEVELOPMENT</h1>

<h1>Noie Glenn Manoy</h1>
<i>Web Developer & UX Designer</i>
<a href="#" class="fa fa-facebook"></a>
<a href="#" class="fa fa-twitter"></a>
<a href="#" class="fa fa-behance"></a>
<a href="#" class="fa fa-codepen"></a>
<a href="#" class="fa fa-github"></a>

<footer>
  <a href="#" onClick="document.body.classList.toggle('white')">White layout</a>
  | Follow me on <a href="https://twitter.com/nodws" target="_b">Twitter</a> new
  <a href="http://codepen.com/nodws" target="_b">Pen</a> each week
</footer>
