<div class="banner skill-banner" id="skill">
  <div class="banner-wrapper">
    <div class="banner-header">
      <h1>Skill</h1>
      <div class="divider"></div>
    </div>
    <div class="banner-body">
      <div class="left">
        <span>i'm expert on</span>
        <h1>Let's Work Together</h1>
        <p>
          Phasellus accumsan scelerisque dolor, quis mattis justo bibendum non.
          Nulla sollicitudin turpis in enim elementum varius.
        </p>
        <p>
          Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
          posuere cubilia Curae
        </p>
        <button>Contact me</button>
      </div>
      <div class="right">
        <div class="slider">
          <span class="java">Java</span>
          <div class="slider-box" id="java">
            <span class="slider-btn" id="java-btn"></span>
            <span class="slider-color" id="java-progress"></span>
            <span class="slider-tooltip" id="java-value"></span>
          </div>
        </div>
        <div class="slider">
          <span>JavaScript</span>
          <div class="slider-box" id="js">
            <span class="slider-btn" id="js-btn"></span>
            <span class="slider-color" id="js-progress"></span>
            <span class="slider-tooltip" id="js-value"></span>
          </div>
        </div>
        <div class="slider">
          <span>HTML</span>
          <div class="slider-box" id="html">
            <span class="slider-btn" id="html-btn"></span>
            <span class="slider-color" id="html-progress"></span>
            <span class="slider-tooltip" id="html-value"></span>
          </div>
        </div>
        <div class="slider">
          <span>CSS</span>
          <div class="slider-box" id="css">
            <span class="slider-btn" id="css-btn"></span>
            <span class="slider-color" id="css-progress"></span>
            <span class="slider-tooltip" id="css-value"></span>
          </div>
        </div>
        <div class="slider">
          <span>TypeScript</span>
          <div class="slider-box" id="typeScript">
            <span class="slider-btn" id="ts-btn"></span>
            <span class="slider-color" id="ts-progress"></span>
            <span class="slider-tooltip" id="ts-value"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
