<div class="container">
  <div class="row">
    <div class="col-md-12 col-lg-8 offset-lg-2">
      <article class="education-item">
        <i class="education-icon fa fa-graduation-cap"></i>
        <h3 class="education-date">University</h3>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">
              <h1>Academic Achiever and Student Leader</h1>
            </h5>
            <p class="card-text text-muted">2020 - Present</p>
            <p class="card-text">
              <li>3rd Year First Semester - President's Lister</li>
              <li>2nd Year Second Semester - Dean's Lister</li>
              <li>2nd Year First Semester - Dean's Lister</li>
              <li>1st Year Second Semester - Dean's Lister</li>
              <li>1st Year First Semester - Dean's Lister</li>
              <br />
              <li>School of Computing Student Council - Vice Chairman</li>
              <li>School of Computing Student Council - Councilo</li>
              <li>School of Computing Student Council - Staff</li>
              <li>Code Geeks - Staff</li>
              <li>Apl.de Ap - Staff</li>
            </p>
          </div>
        </div>
      </article>
      <article class="education-item">
        <i class="education-icon fa fa-graduation-cap"></i>
        <h3 class="education-date">Experience</h3>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">
              <h1>Work Immersion</h1>
            </h5>
            <p class="card-text text-muted">2019 - 2020</p>
            <p class="card-text">
              <li>Stotsenber Medical Center - Front Desk</li>
            </p>
          </div>
        </div>
      </article>
    </div>
  </div>
</div>
