<div class="container">
  <img
    src="https://stackblitz.com/files/angular-directives-2135-jtbiid/github/Intuyy/CV-Angular/main/pictures/bg-home.jpg"
    alt="Snow"
  />
  <div class="centered">
    <form>
      <input
        [(ngModel)]="myName"
        placeholder="type your name"
        type="text"
        id="fname"
        name="fname"
      />
      <p>
        Hello, {{ myName }}! Welcome to my page. <br />
        Feel free to explore and learn about my works and details
      </p>
    </form>
  </div>
</div>
