.container {
  position: relative;
  text-align: center;
  color: white;
}
.centered {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}
img {
  max-width: 100%;
  object-fit: cover;
}
input[type='text'] {
  text-transform: capitalize;
  text-align: center;
  color: solid red;
  width: 40%;
  padding: 12px 20px;
  margin: 8px 0;
  border: none;
  border-bottom: 2px solid red;
  background: transparent;
  text-decoration: transparent;
  outline: none;
}
p {
  text-transform: capitalize;
  opacity: unset;
}
