<!-- NAVBAR -->
<nav>
  <div class="container">
    <div class="row">
      <div class="col-md-4 d-flex align-items-center">
        <div class="logo">
          <h3>
            <a href="#">Timelyy</a>
          </h3>
        </div>
      </div>
      <div class="col-md-6 d-flex align-items-center justify-content-end">
        <ul class="menu-list">
          <li><a href="#">About</a></li>
          <li><a href="#">Pricing</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Contacts</a></li>
        </ul>
      </div>
      <div class="col-md-2">
        <button class="btn btn-primary my-btn">Get started now</button>
      </div>
    </div>
  </div>
</nav>

<!-- MAIN CONTENT -->
<section id="hero">
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-md-6 d-flex flex-column justify-content-center">
        <div class="headline">
          <h1>The clock is <span class="text-bright">ticking</span>.</h1>
          <p class="desc">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam
            veritatis sit exercitationem quia, cumque magni?
          </p>
          <button class="btn btn-primary my-btn">Get started now</button>
        </div>

        <div class="num-wrap">
          <div class="num-col">
            <div class="number">2943</div>
            <div class="num-desc">
              Monthly<br />
              subscribers
            </div>
          </div>
          <div class="num-col">
            <div class="number">€ 1M+</div>
            <div class="num-desc">
              Total<br />
              invested
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
